# The Mojibake library
#
# This file is distributed under the MIT License. See LICENSE for details.

AlignAfterOpenBracket: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeTernaryOperators: false
ColumnLimit: 100
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentPPDirectives: Leave
IndentWidth: 4
PenaltyBreakOpenParenthesis: 1000000
PenaltyBreakAssignment: 1000000
SpaceBeforeParens: Never
UseTab: Never
