# Various
!.gitkeep
.claude/*
!.claude/skills/
deploy*
.DS_Store

# Build artifacts
build
build-*

src/gui/*

# Utils artifacts
utils/generate/node_modules
utils/generate/UCD/*
utils/generate/unihan/*
utils/generate/emoji/*
utils/generate/collation/*
utils/generate/security/*
utils/generate/locales/*.xml

src/api/mojibake.js
src/api/mojibake.wasm
src/api/functions.js

# Doc
doc/*
!doc/*.c
!doc/Makefile

# Clang
.cache/*
